{% extends "poll/layout.html" %}
{% load static %}
{% block body %}

<div class="container">
   <h1>About</h1>
   <hr>
   <p>The website is meant to bid antique things or whatever material owned by users of the website.
     To create a bid or to win a bid, the first condition is that he/she must be a registered user of the website.
     But, anyone can view the list of items on bid. Only, registered users can comment about an item.
    </p>
     <h1>


</div>



<div class="f1"class="p-3 mb-2 bg-dark text-white">

<!-- Footer Links -->
<!---div class="container-fluid text-center text-md-left"-->

    <span style="font-family:'Indie Flower';text-shadow: 0.1em 0.1em blue;margin-left:0em;">Auction in my style</span>
    <span style="float:left"> Neevetha.S(122010568) </span>
    <br>
    <span style="font-family:'Indie Flower';text-shadow: 0.1em 0.1em blue;margin-left:10em;"> Letzz get the party started </span>
  <!-- Grid column -->

<!--/div-->
<!-- Grid row -->

<!--/div-->
<!-- Footer Links -->

<!-- Copyright -->
<!--div class="footer-copyright text-center py-3">© 2020 Copyright:
<a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
</div--->
<!-- Copyright -->
</div>
{% endblock %}
